.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
    padding-inline: 5px;
}

.itemBtns {
    display: flex;
    align-items: center;
    gap: 15px;
}